<div class="container-fluid">
  <div>
    <form [formGroup]="userDetail">
      <div class="dropdown">
        <div class="">
          <!-- seach -->
          <div class="input-group rounded row mb-2">
            <button
              class="btn btn-outline-success btnadduser col-2"
              data-bs-toggle="modal"
              data-bs-target="#addUser"
              style="border-radius: 4px"
            >
              Add User
            </button>
            <input
              type="search"
              style="margin-left: 8px"
              class="form-control rounded col-2 mr-2"
              placeholder="User name"
              aria-label="Search"
              formControlName="userName"
              aria-describedby="search-addon"
            />
            <input
              type="search"
              class="form-control rounded col-2 mr-2"
              placeholder="Name"
              aria-label="Search"
              formControlName="name"
              id="name"
              aria-describedby="search-addon"
            />
            <input
              type="search"
              class="form-control rounded col-2 mr-2"
              placeholder="Email"
              aria-label="Search"
              formControlName="email"
              id="email"
              aria-describedby="search-addon"
            />
            <button
              style="border-radius: 4px"
              class="btn btn-success col-2"
              (click)="seach()"
            >
              Tìm kiếm
            </button>
          </div>
        </div>
      </div>
    </form>
    <table class="table table-hover">
      <thead>
        <tr>
          <th (click)="sort('id')" class="col-sm-1" scope="col">
            ID <i class="fa fa-sort"></i>
          </th>
          <th (click)="sort('user_name')" class="col-sm-2" scope="col">
            USER NAME <i class="fa fa-sort"></i>
          </th>
          <th (click)="sort('name')" class="col-sm-2" scope="col">
            NAME <i class="fa fa-sort"></i>
          </th>
          <th (click)="sort('email')" class="col-sm-1" scope="col">
            EMAIL <i class="fa fa-sort"></i>
          </th>
          <th (click)="sort('phone_number')" class="col-sm-2" scope="col">
            PHONE <i class="fa fa-sort"></i>
          </th>
          <th class="col-sm-2" scope="col">STATUS<i class="fa fa-sort"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{ user.id }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>
            <p *ngIf="user.activate">Đã kích hoạt</p>
            <p *ngIf="!user.activate">Chưa Kích hoạt</p>
          </td>
          <!-- <td>
            <button
              type="button"
              class="btn btn-outline-primary me-2"
              data-bs-toggle="modal"
              (click)="editUser(user)"
              data-bs-target="#editUser"
              style="margin-right: 4px"
            >
              Edit
            </button>

            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              (click)="onChangeActive(user.id)"
            >
              <div *ngIf="user.activate">Deactivate</div>
              <div *ngIf="!user.activate">Activate</div>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>

        <li *ngFor="let n of pageNumber" class="page-item">
          <a style="cursor: pointer" class="page-link" (click)="setPage(n)">{{
            n + 1
          }}</a>
        </li>
        <li class="page-item">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
